{% extends "mainfiles/base.html" %}
{% load static %}
{% block title %}
    crops using ajax and jquery
{% endblock %}
{% block content %}
     <div class="container">

    <div class="row">

      <div class="col-lg-3">
        <h1 class="my-4">Shop Name</h1>
        <div class="list-group">
          <a href="javascript:FilterCropList3('cereals')" class="list-group-item ">Horticulture</a>
          <a href="javascript:FilterCropList3('fruits')" class="list-group-item ">Floriculture</a>
          <a href="javascript:FilterCropList3('vegetable')" class="list-group-item ">frticulture</a>
        </div>
      </div>
    <div class="col-lg-9">

    <div class="card mt-4">
          <div class="card-body">
            <h3 class="card-title">Product Name</h3>
              <a href="javascript:NeedCropList2()", class="updatebutton">GetRating</a>
            <h4>$24.99</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente dicta fugit fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur praesentium animi perspiciatis molestias iure, ducimus!</p>
            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
            <p>4.0 stars</p>
          </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
          <div class="card-header">
            Product Reviews
          </div>
          <div class="card-body">
            <div id="output">
                <div class="croplist">
                    <h3>please wait....</h3>
                </div>
            </div>
          </div>
        </div>
        <!-- /.card -->

      </div>

    </div>

  </div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'question/js/jquery.js' %}"></script>
    <script src="{% static 'question/js/test1.js' %}"></script>
{% endblock %}