{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        {% block title %}InformMe Prediction System{% endblock %}
    </title>
    <link href="{% static 'cropprediction/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'cropprediction/css/predict.css' %}" rel="stylesheet">
    <link href="{% static 'information/css/home.css' %}" rel="stylesheet">
    {% block stylesheet %}
{% endblock %}
</head>
<body>
<div id="maindiv" class="justify-content-lg-around">
    <div class="container-fluid">
        <h1>
            InformMe Crop Prediction System
        </h1>
    </div>
    <nav id="nav2" class="navbar">
        <ul class="navbar-nav bd-navbar-nav flex-row">
             <li>
                 <a href="{% url "information_system:index" %}">Home</a>
             </li>
            <li>
                <a href="{% url "PredictionSystem:predict" %}">Predict</a>
            </li>
            <li>
                <a href="{% url "information_system:crops_view" %}">Crops Information</a>
            </li>
            <li>
                <a href="{% url "comments:dashboard" %}">Customer Support</a>
            </li>
        </ul>
        <span></span>

        {% include 'mainfiles/includes/header.html' %}
    </nav>
</div>
{% block content %}

{% endblock %}
<script src="{% static 'information/js/jquery.js' %}"></script>
{% block javascript %}

{% endblock %}
<div class="footer text-faded text-center py-lg-5 jumbotron" id="foot2">
    <div class="container" id="nav2">
      <p class="m-0 small">Copyright &copy; InformMe Prediction System 2019</p>
    </div>
  </div>
</body>
</html>