{% extends "mainfiles/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}

{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-sm-3">
        <span></span>
    </div>
        <div class="col-sm-6 col-sm-offset-3">
            <div class="wrapper">
                <h2>Prediction Input Errors</h2>
            </div>
            <div>
               <p class="text-danger">
                   Rainfall amount cannot be less than zero or above 100000 mm)
               </p>
                <p class="text-danger">
                    Soil PH cannot be less than zero or above 14
                </p>
                <p class="text-danger">
                    Temperature cannot be less than zero or above 70 degree celcius.
                </p>
                <p class="text-danger">
                    Altitude cannot be less than zero or above 100000 above sea level
                </p>
                <li>
                    <a href="{% url "PredictionSystem:predict" %}">Predict again</a>
                </li>
            </div>

            </div>
    </div>
{% endblock %}