
<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          MyAccount
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            {% if request.user.is_authenticated %}
            <li><h3 id="user">Hello {{ request.user.first_name }}</h3></li>
           <span></span>
           <li>
            <a href="{% url "account:dashboard" %}">Profile</a>
        </li>
        <span></span>
            <li>
                <a href="{% url "logout" %}">LogOut</a>
            </li>
        {% else %}
            <li>
                <a href="{% url "login" %}">Login</a>
            </li>
            <li>
                <a href="{% url "account:register" %}">SignUp</a>
            </li>
        {% endif %}
        </ul>

        </ul>
      </li>
    </ul>
  </div>